form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-input {
    border: 1px solid #415e72;
    border-radius: 4px;
    padding: 0.5em;
}

.form-helper-text {
    color: #dc143c;
    font-size: 0.8em;
}

.form-submit-btn {
    background-color: #c5b0cd;
}

.inactivated {
    background-color: #c5b0cd70;
    color: #c5b0cd;
    cursor: not-allowed;
}

/* refactoring */
.form-post-image-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.form-post-image {
    flex: 1; /* 남은 공간 전부 차지 */
    border-radius: 4px;
    border: 1px solid #415e72;
    padding: 0.5em;
}

.form-member-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form-image-btn-container {
    display: flex;
    flex-direction: row;
    flex-shrink: 0; /* 버튼 영역 줄지 않게 함 */
}

.overlay {
    position: absolute;
    background-color: transparent;
}
