* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    background-color: inherit;
}

body {
    background-color: #eaeaea;
}

a {
    text-decoration: none;
    background-color: inherit;
    color: inherit;
}

main {
    display: flex;
    justify-content: center;
}

main .title {
    font-size: 2em;
    padding: 1.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

section {
    width: 70%;
    padding: 1.5em 0;
}

.btn {
    cursor: pointer;
    border-radius: 4px;
    padding: 0.5em;
    font-size: 1em;
}

.small-btn {
    background-color: #ffffff;
    border: 1px solid #415e72;
    font-size: 0.8em;
}

.purple {
    background-color: #c5b0cd;
}

.custom-hr {
    border-bottom: 1px solid #415e72;
}

.hide {
    display: none;
}

.conceal {
    visibility: hidden;
}
