.header-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em 0;
    border-bottom: 1px solid #415e72;
}

.title-name {
    font-size: 1.5em;
}

.backward-image {
    cursor: pointer;
}

.profile-image {
    cursor: pointer;
}

.profile-list {
    list-style: none;
    position: absolute;
}

.profile-list-item {
    background-color: #c5b0cd;
    position: relative;
    padding: 12px 16px;
    display: block;
}
