<div class="header-container">
    <div class="backward conceal">
        <span class="backward-image">◀️</span>
    </div>
    <div class="title">
        <span class="title-name">아무 말 대잔치</span>
    </div>
    <div class="profile conceal">
        <span class="profile-image">👤</span>
        <ul class="profile-list hide">
            <li class="profile-list-item"><a href="#">회원정보수정</a></li>
            <li class="profile-list-item"><a href="#">비밀번호수정</a></li>
            <li class="profile-list-item"><a href="#">로그아웃</a></li>
        </ul>
    </div>
</div>
